<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>User Registration</h2>
    <form th:action="@{/users/register}" method="post" th:object="${user}">
        <input type="text" th:field="*{name}" placeholder="Name" required><br>
        <input type="email" th:field="*{email}" placeholder="Email" required><br>
        <input type="text" th:field="*{phone}" placeholder="Phone Number" required><br>
        <input type="password" th:field="*{password}" placeholder="Password" required><br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/users/login">Login here</a></p>
    
    <script th:src="@{/form-validation.js}"></script>
    
</body>
</html>
